:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color-scheme: dark;
  background-color: #020617;
  color: #f9fafb;
}

/* Body chiếm full, không căn giữa #root nữa */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #020617;
}

/* Root full chiều ngang, không max-width */
#root {
  min-height: 100vh;
  width: 100%;
}
